

.one{
	background-color: darkcyan;
	padding: 1rem;
	border-top-left-radius: 3rem;
	border-top-right-radius: 3rem;
}
.two a{
	padding: 2rem;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: indianred;
}

.three{
	justify-content: center;
	align-items: center;
}
.three a{
	padding: 2rem;
	margin-right: 3rem;
	text-decoration: none;
	font-weight: bold;
	color: yellowgreen;
	text-transform: uppercase;
	margin-left: 2rem;
	float: right;
}
.three a:hover{
	color: white;
}

